*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 300;
  margin: 0px;
  width: 100%;
}

body {
  background: linear-gradient(-45deg, #2079d2, #1ebcce, #3086c0, #6fb7b9);
}

a {
  text-decoration: none;
}

.section {
  width: 100%;
  min-height: 100vh;
}

#normal-menu {
  padding: 2em 3em;
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

#normal-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ffffff;
}

#normal-menu ul li {
  float: right;
  position: relative;
  right: 0;
  top: 0;
  padding: 14px 16px;
  font-size: 1.1em;
  text-decoration: none;
}

#normal-menu ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
}

#normal-menu ul li a:hover {
  display: block;
  border-bottom: #fff 1px solid;
}

.dark-menu {
  width: 100%;
  position: fixed;
  z-index: 1;
  color: #ffffff;
  font-weight: 500;
  background-image: linear-gradient(45deg, rgba(30, 188, 206, 0.8), rgba(32, 121, 210, 0.8));
  padding: 0.75em 3em;
}

#responsive-menu {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 1;
}

#responsive-menu ul {
  margin-top: 100px;
}

#responsive-menu ul li {
  display: block;
  width: 100%;
  padding: 1em;
}

#responsive-menu ul li a {
  color: white;
  display: block;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 0px;
}

.menu-btn {
  position: fixed;
  display: none;
  top: 1em;
  right: 1em;
  width: 48px;
  height: 48px;
  background: linear-gradient(-45deg, #2079d2, #1ebcce);
  padding: 12px;
  border-radius: 10px;
  z-index: 3;
}

.menu-btn .btn-line {
  width: 100%;
  height: 3px;
  margin-top: 3px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-btn .line-left {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.menu-btn .line-erased {
  opacity: 0;
}

.menu-btn .line-right {
  -webkit-transform: rotate(-45deg) translate(3px, -3px);
          transform: rotate(-45deg) translate(3px, -3px);
}

.menu-close {
  visibility: hidden;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.menu-open {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

h1, h2 {
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

h1 {
  margin: 16px 0px;
  font-size: 48px;
}

.container {
  width: 70%;
  margin: 0px auto;
}

.sub-container {
  width: 70%;
  margin: 0px auto;
}

.cta-button {
  background-color: #2772a3;
  -webkit-box-shadow: 0 3px 6px 0 rgba(39, 114, 163, 0.5);
          box-shadow: 0 3px 6px 0 rgba(39, 114, 163, 0.5);
  border: 5px white;
  border-radius: 50px;
  color: white;
  margin: 16px 0px;
  padding: 0.75em 1.30em;
  font-size: 24px;
  text-align: center;
  width: 10em;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cta-button:hover {
  background: #39A4EB;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hero-section, .about-me-section {
  color: white;
}

.hero-section {
  padding-top: 175px;
}

.hero-section div {
  float: right;
}

.hero-section h1, .hero-section h2, .hero-section p {
  text-align: left;
}

.about-me-section h1 {
  border-bottom: 2px solid;
}

.about-me-section .my-photo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin: 16px auto;
  border-radius: 300px;
}

.about-me-section .awards img {
  width: 215px;
  height: 215px;
  margin: 0px auto;
}

#technologies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (16.66%)[6];
      grid-template-columns: repeat(6, 16.66%);
}

.skill h3 {
  text-align: center;
}

.skill p {
  text-align: center;
}

.technology {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.technology img {
  display: block;
  margin: 1em auto;
  width: 60%;
}

.technology p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  -webkit-transition: 0.3;
  transition: 0.3;
  margin-bottom: 1em;
}

.technology:hover {
  background-color: #eeeded;
  font-weight: 500;
}

.projects {
  color: #fff;
  padding: 3em 0em;
}

.project {
  position: relative;
  padding: 0em !important;
  overflow: hidden;
}

.project h3 {
  font-family: 'Roboto Regular';
  font-size: 1.45em;
  margin: 0.50em 0em;
}

.project .cta-button {
  padding: 0.75em;
  font-size: 1em;
}

.project .detail {
  background: rgba(58, 58, 58, 0.75);
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0em 1em;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  text-align: center;
}

.project .detail p {
  position: relative;
  margin: 0.4em 0px;
}

.project:hover .detail {
  height: 100%;
  display: block;
}

.contact-me {
  background-color: rgba(58, 58, 58, 0.75);
  color: white;
  padding: 2em;
}

.contact-me a {
  color: white;
  font-size: 24px;
  display: inline;
}

.copy-right {
  font-size: 14px;
  margin: 45px 0px;
}

.cta-button {
  display: block;
  margin: 0px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 85%;
  }
}

@media only screen and (max-width: 850px) {
  /* For mobile phones: */
  #technologies {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
  }
  .technolgy {
    width: 25%;
  }
  .project {
    width: 50%;
  }
  .cta-button {
    display: block;
    margin: 0px auto;
  }
  .hero-image {
    position: relative;
    top: 0;
    left: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .menu-btn {
    visibility: visible;
    display: block;
  }
  #technologies {
    -ms-grid-columns: (33.33%)[3];
        grid-template-columns: repeat(3, 33.33%);
  }
  .container {
    width: 95%;
  }
  .sub-container {
    width: 95%;
  }
  nav {
    padding: 1em;
  }
  .nav-item {
    display: none;
  }
  .menu {
    display: block;
    background: linear-gradient(-45deg, #2079d2, #3086c0, #6fb7b9);
    z-index: 2;
    border-radius: 10px;
  }
  .hidden-menu {
    position: fixed;
  }
  .show-menu {
    color: blue;
  }
  .hidden-menu ul {
    margin-top: 100px;
  }
  .hero-section {
    padding-top: 100px;
  }
  h1 {
    font-size: 2em;
  }
  h1, h2 {
    margin: 0.4em 0em;
  }
  .contact-me a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */